<div navControl>
	<div class="header-page bg-primary">
		<a class="toggle-offcanvas bg-primary" ng-click="nav.toggleNav()"><span></span></a>
		<h1 class="header-page-siteTitle">ng1-dinos</h1>
	</div>

	<nav id="nav" class="nav" role="navigation">
		<ul class="nav-list">
			<li>
				<a ng-class="{active: header.indexIsActive('/')}"
				   ng-href="/"><span class="nav-list-item-text">All Dinosaurs</span></a>
			</li>
			<li>
				<a ng-class="{active: header.navIsActive('/about')}" ng-href="/about"><span
						class="nav-list-item-text">About</span></a>
			</li>
			<li>
				<a ng-href="https://github.com/kmaida/sample-nodeserver-dinos"><span
						class="nav-list-item-text">Dino API on GitHub</span></a>
			</li>
		</ul>
	</nav>
</div>
