/*--------------------
	   BASICS
--------------------*/

/*-- Cursor --*/

a, 
input[type=button], 
input[type=submit], 
button { 
	cursor: pointer; 
}

/*-- ng-cloak: prevent FOUC before Angular JavaScript loads --*/

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

/*-- Forms --*/

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
select option,
textarea {
	font-size: 16px;	/* for iOS to prevent autozoom */
}