/*--------------------
    PRESENTATION
--------------------*/

body {
  background: #eee;
  color: #333;
  font: normal 16px/1.2 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}
.layout-canvas {
  background: #fff;
}

/*---------------------------- Content --*/

.content-wrapper {
  padding: $padding-screen-small;

  @include mq($large) {
    margin: 0 auto;
    max-width: 960px;
    padding: $padding-screen-large;
  }
}
.content-heading {
  text-align: center;
}
