<article id="content-wrapper" class="content-wrapper">
  <h2 class="content-heading">{{pageName}}</h2>

  <app-loading *ngIf="loading"></app-loading>

  <div *ngIf="isLoaded">
    
    <!-- Search dinosaurs -->
    <section *ngIf="dinos" class="home-search input-group">
      <label class="input-group-addon" for="search">Search</label>

      <input
        id="search" 
        type="text"
        class="form-control"
        [(ngModel)]="query"
        (keyup)="filterDinos(query)" />

      <span class="input-group-btn">
        <button
          class="btn btn-danger"
          (click)="resetQuery()"
          [disabled]="!query">&times;</button>
      </span>
    </section>
    
    <!-- Dinosaurs -->
    <section *ngIf="dinos" class="row">
      <div class="col-xs-12 col-sm-4" *ngFor="let dino of filteredDinos">
        <app-dino-card [dino]="dino"></app-dino-card>
      </div>
    </section>

    <!-- No search results -->
    <p *ngIf="noSearchResults" class="alert alert-warning">
      No information available on a dinosaur called <em class="text-danger">{{query}}</em>, sorry!
    </p>

    <!-- Error -->
    <p *ngIf="error" class="alert alert-danger">
      <strong>Rawr!</strong> There was an error retrieving dinosaur data.
    </p>
  </div>

</article>
